include LICENSE.txt
include README.md
include AUTHORS.txt
recursive-include servee *
recursive-include servee/frontendadmin/templates *
recursive-include servee/frontendadmin/static *
recursive-include docs *