## Django>=1.3, 1.2.X works, but static media takes 1.3 conventions
-e git+http://github.com/django/django.git#egg=Django

# Django-classy-tags is so
# much more readable, and easier
# to implement, that it's an acceptable
# dependency.
django-classy-tags

# It's presumed that django-uni-form will
# Very soon have some support for fieldsets.
# That's great. I assume the 0.8.0 release
django-uni-form
