@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic);
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm {
  height: auto;
}
.input-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 45px;
  line-height: 45px;
}
textarea.input-lg {
  height: auto;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #c09853;
}
.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.has-warning .input-group-addon {
  color: #c09853;
  border-color: #c09853;
  background-color: #fcf8e3;
}
.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}
.has-success .help-block,
.has-success .control-label {
  color: #468847;
}
.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.has-success .input-group-addon {
  color: #468847;
  border-color: #468847;
  background-color: #dff0d8;
}
.form-control-static {
  margin-bottom: 0;
  padding-top: 7px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.form-horizontal .form-group:after {
  clear: both;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group.col {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  line-height: 45px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 0;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -4px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:active {
  z-index: 2;
}
.srv-reset {
  font: 400 13px/20px 'Source Sans Pro', sans-serif;
  color: #222;
}
.srv-reset .list {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  background: #f0f0f0;
  background: rgba(240, 240, 240, 0.98);
  border-right: 1px solid #ddd;
}
@media (max-width: 590px) {
  .srv-reset .list {
    width: auto;
    right: 0;
    bottom: auto;
  }
}
.srv-reset .list ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
@media (max-width: 590px) {
  .srv-reset .list ul {
    margin: 0;
  }
}
@media (max-width: 590px) {
  .srv-reset .list ul li {
    display: inline-block;
    zoom: 1;
    *display: block;
    vertical-align: baseline;
  }
}
.srv-reset .list ul li.active {
  background-color: #fff;
}
.srv-reset .list ul a {
  display: block;
  padding: 6px 0 6px 10px;
}
@media (max-width: 590px) {
  .srv-reset .list ul a {
    padding: 6px 10px;
  }
}
.srv-reset .list ul a:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
.srv-reset .display {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 150px;
  background: #fff;
  background: rgba(255, 255, 255, 0.98);
  overflow: auto;
}
@media (max-width: 590px) {
  .srv-reset .display {
    top: 64px;
    left: 0;
  }
}
@media (max-width: 320px) {
  .srv-reset .display {
    top: 95px;
  }
}
.srv-reset .tab {
  margin: 30px 0 0 30px;
  width: 600px;
  display: none;
}
@media (max-width: 790px) {
  .srv-reset .tab {
    width: 500px;
  }
}
@media (max-width: 690px) {
  .srv-reset .tab {
    width: 400px;
  }
}
@media (max-width: 590px) {
  .srv-reset .tab {
    width: 100%;
    padding-right: 60px;
  }
}
.srv-reset .tab.active {
  display: block;
}
.srv-reset h1 {
  color: #222;
  font: 300 26px/30px 'Source Sans Pro', sans-serif;
  margin: 10px 0;
}
.pages,
.posts,
.editor {
  position: fixed;
  top: 20px;
  left: 170px;
  bottom: 20px;
  width: 250px;
  border: 1px solid #eee;
  padding: 10px;
  background: #fff;
  overflow: auto;
}
@media (max-width: 767px) {
  .pages,
  .posts,
  .editor {
    width: auto;
    position: static;
    margin-bottom: 20px;
  }
}
.pages ul,
.posts ul,
.editor ul {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}
.pages ul li,
.posts ul li,
.editor ul li {
  padding: 0 4px 0 10px;
}
.pages ul li:hover,
.posts ul li:hover,
.editor ul li:hover {
  background: #eee;
}
.pages ul li:hover .delete,
.posts ul li:hover .delete,
.editor ul li:hover .delete {
  display: block;
}
.pages ul small,
.posts ul small,
.editor ul small {
  width: 50px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
}
.pages ul .delete,
.posts ul .delete,
.editor ul .delete {
  float: right;
  display: none;
  color: #666;
}
.posts {
  left: 440px;
  width: auto;
  right: 20px;
}
.editor {
  position: fixed;
  top: 20px !important;
  left: 150px !important;
  right: 20px !important;
  bottom: 20px !important;
  width: auto !important;
}
.form-row {
  margin-bottom: 20px;
}
.form-row > div {
  margin-left: -15px;
  margin-right: -15px;
}
.form-row > div:before,
.form-row > div:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.form-row > div:after {
  clear: both;
}
.form-row > div label {
  float: left;
  width: 25%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form-row > div label {
    float: left;
    width: 33.33333333333333%;
  }
}
@media (min-width: 992px) {
  .form-row > div label {
    float: left;
    width: 25%;
  }
}
.form-row > div label.vCheckboxLabel {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 4px;
}
@media (min-width: 768px) {
  .form-row > div label.vCheckboxLabel {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .form-row > div label.vCheckboxLabel {
    float: left;
    width: 50%;
  }
}
.form-row > div [type=text],
.form-row > div .file-upload,
.form-row > div > [type=file] {
  float: left;
  width: 66.66666666666666%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
}
@media (min-width: 768px) {
  .form-row > div [type=text],
  .form-row > div .file-upload,
  .form-row > div > [type=file] {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .form-row > div [type=text],
  .form-row > div .file-upload,
  .form-row > div > [type=file] {
    float: left;
    width: 50%;
  }
}
.form-row > div .file-upload,
.form-row > div > [type=file] {
  padding: 0;
}
.form-row > div .file-upload .clearable-file-input,
.form-row > div > [type=file] .clearable-file-input {
  float: right;
  text-align: right;
}
.form-row > div .file-upload .clearable-file-input label,
.form-row > div > [type=file] .clearable-file-input label {
  padding: 0;
  width: auto;
  margin: 0;
  display: inline-block;
  float: none;
}
.form-row > div .file-upload .clearable-file-input [type=checkbox],
.form-row > div > [type=file] .clearable-file-input [type=checkbox] {
  width: auto;
  display: inline-block;
  margin-right: 4px;
}
.form-row > div > [type=checkbox] {
  float: left;
  margin-left: 25%;
}
@media (min-width: 768px) {
  .form-row > div > [type=checkbox] {
    margin-left: 33.33333333333333%;
  }
}
@media (min-width: 992px) {
  .form-row > div > [type=checkbox] {
    margin-left: 25%;
  }
}
.form-row > div .redactor_box {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .form-row > div .redactor_box {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .form-row > div .redactor_box {
    float: left;
    width: 100%;
  }
}
.form-row > div p.help {
  float: left;
  width: 66.66666666666666%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
}
@media (max-width: 767px) {
  .form-row > div p.help {
    margin-left: 25%;
  }
}
@media (min-width: 768px) {
  .form-row > div p.help {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .form-row > div p.help {
    margin-left: 33.33333333333333%;
  }
}
@media (min-width: 992px) {
  .form-row > div p.help {
    float: left;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .form-row > div p.help {
    margin-left: 25%;
  }
}
.frontendadmin_edit {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 6px;
  font-size: 12px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.frontendadmin_edit:hover {
  background: #fff;
  text-decoration: none;
}
.submit-row {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}
.submit-row:before,
.submit-row:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.submit-row:after {
  clear: both;
}
.submit-row [type=submit] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #2bc035;
  border-color: #2bc035;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  float: right;
}
.submit-row [type=submit]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.submit-row [type=submit]:hover,
.submit-row [type=submit]:focus {
  color: #333333;
  text-decoration: none;
}
.submit-row [type=submit]:active,
.submit-row [type=submit].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.submit-row [type=submit].disabled,
.submit-row [type=submit][disabled],
fieldset[disabled] .submit-row [type=submit] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.submit-row [type=submit]:hover,
.submit-row [type=submit]:focus,
.submit-row [type=submit]:active,
.submit-row [type=submit].active,
.open .dropdown-toggle.submit-row [type=submit] {
  color: #ffffff;
  background-color: #249f2c;
  border-color: #208e27;
}
.submit-row [type=submit]:active,
.submit-row [type=submit].active,
.open .dropdown-toggle.submit-row [type=submit] {
  background-image: none;
}
.submit-row [type=submit].disabled,
.submit-row [type=submit][disabled],
fieldset[disabled] .submit-row [type=submit],
.submit-row [type=submit].disabled:hover,
.submit-row [type=submit][disabled]:hover,
fieldset[disabled] .submit-row [type=submit]:hover,
.submit-row [type=submit].disabled:focus,
.submit-row [type=submit][disabled]:focus,
fieldset[disabled] .submit-row [type=submit]:focus,
.submit-row [type=submit].disabled:active,
.submit-row [type=submit][disabled]:active,
fieldset[disabled] .submit-row [type=submit]:active,
.submit-row [type=submit].disabled.active,
.submit-row [type=submit][disabled].active,
fieldset[disabled] .submit-row [type=submit].active {
  background-color: #2bc035;
  border-color: #2bc035;
}
#servee_content > h1 {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}
.srv_adminBox,
.deletelink-box {
  display: none;
}
