.srv_adminBox, .srv_adminBox div, .srv_adminBox ul, .srv_adminBox input{
-webkit-transition: all 0.15s ease;
-moz-transition: all 0.15s ease;
-o-transition: all 0.15s ease;
transition: all 0.15s ease;
}

/* -- open everything ---*/
#srv_wysiwyg_tools.out, 
#srv_CSSstyles.out, #srv_CSSstyles.out ul, 
#srv_insertMedia.out, #srv_insertMedia.out .srv_mediaList, #srv_insertMedia.out .srv_mediaList, #srv_insertMedia.out .srv_filePane, #srv_insertMedia.out.srv_insertOptions,
#srv_code_edit.out, #srv_code_edit #code_container, 
#srv_link.out
{
left:0px;
}

#srv_insertMedia.out .srv_insertOptions{
left:120px;
}
#srv_code_edit.out input{
left:200px;
}


/* -- shuffle the tinyMCE toolbar around ---*/

#srv_wysiwyg_tools.out.srv_CSSstyles{
left:150px;
}
#srv_wysiwyg_tools.out.srv_insertMedia{
left:321px;
}

#srv_wysiwyg_tools.srv_code_edit.out{
left:400px;
}

#srv_wysiwyg_tools.srv_link.out{
left:200px;
}

#srv_wysiwyg_tools p.collapse{
display: none;
}

#srv_wysiwyg_tools.out.srv_CSSstyles p.collapse, 
#srv_wysiwyg_tools.out.srv_insertMedia p.collapse, 
#srv_wysiwyg_tools.srv_code_edit.out p.collapse, 
#srv_wysiwyg_tools.srv_link.out p.collapse{
display: block;
}