
/*---------------inline editor buttons -------------------------------------------------------*/

a.frontendadmin_add, a.frontendadmin_delete, a.frontendadmin_edit{
padding:2px 5px 1px 16px;
margin:0 4px 0 0;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
cursor: pointer;
outline: 0;
overflow: visible;
background:url(../images/small-icons.png) no-repeat -2px 0px;
color:#333;
text-decoration: none;
font: bold 11px/1.2 Arial, sans-serif;
border-radius: 3px;
border: 1px solid;
border-color: #ddd #bbb #999;
}
a.frontendadmin_delete{ 		background:url(../images/small-icons.png) no-repeat -2px -36px;}
a.frontendadmin_edit{ 			background:url(../images/small-icons.png) no-repeat -2px -18px;}
a.frontendadmin_add:hover{ 		background:url(../images/small-icons.png) no-repeat -2px -57px;}
a.frontendadmin_delete:hover{ 	background:url(../images/small-icons.png) no-repeat -2px -93px;}
a.frontendadmin_edit:hover{ 	background:url(../images/small-icons.png) no-repeat -2px -75px;}



/*----- editor forms - uniForm overrides-------*/

span#id_content_parent, textarea#id_content, input[id="id_title"]{
width:100%;
clear:both;
}
label[for="id_content"], label[for="id_title"]{
text-align: left;
}
tr.mceLast{display:none;}


/*-------- editor forms - things borrowed from DJ base.css----*/

/* OBJECT TOOLS */

.object-tools {
    font: bold 10px/12px sans-serif;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.form-row .object-tools {
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
    height: 2em;
    padding-left: 3.5em;
}

.object-tools li {
    display: block;
    float: left;
    background: url(../img/admin/tool-left.gif) 0 0 no-repeat;
    padding: 0 0 0 8px;
    margin-left: 2px;
    height: 16px;
}

.object-tools li:hover {
    background: url(../img/admin/tool-left_over.gif) 0 0 no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    color: white;
    padding: .1em 14px .1em 8px;
    height: 14px;
    background: #999 url(../img/admin/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:hover, .object-tools li:hover a {
    background: #5b80b2 url(../img/admin/tool-right_over.gif) 100% 0 no-repeat;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background: #999 url(../img/admin/tooltag-arrowright.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
    background: #5b80b2 url(../img/admin/tooltag-arrowright_over.gif) top right no-repeat;
}

.object-tools a.addlink {
    background: #999 url(../img/admin/tooltag-add.gif) top right no-repeat;
    padding-right: 28px;
}

.object-tools a.addlink:hover {
    background: #5b80b2 url(../img/admin/tooltag-add_over.gif) top right no-repeat;
}

/* OBJECT HISTORY */

table#change-history {
    width: 100%;
}

table#change-history tbody th {
    width: 16em;
}