
/*---------------inline editor buttons -------------------------------------------------------*/

a.frontendadmin_add, a.frontendadmin_delete, a.frontendadmin_edit{
padding:2px 5px 1px 16px;
margin:0 4px 0 0;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
cursor: pointer;
outline: 0;
overflow: visible;
background:url(../images/small-icons.png) no-repeat -2px 0px;
color:#333;
text-decoration: none;
font: bold 11px/1.2 Arial, sans-serif;
border-radius: 3px;
border: 1px solid;
border-color: #ddd #bbb #999;
}
a.frontendadmin_delete{ 		background:url(../images/small-icons.png) no-repeat -2px -36px;}
a.frontendadmin_edit{ 			background:url(../images/small-icons.png) no-repeat -2px -18px;}
a.frontendadmin_add:hover{ 		background:url(../images/small-icons.png) no-repeat -2px -57px;}
a.frontendadmin_delete:hover{ 	background:url(../images/small-icons.png) no-repeat -2px -93px;}
a.frontendadmin_edit:hover{ 	background:url(../images/small-icons.png) no-repeat -2px -75px;}



/*----- editor forms - uniForm overrides-------*/

.form-row{
border-bottom:0 none;
padding:0;
margin-bottom:18px;
}
.form-row textarea{
width:100%;
height:300px;
clear:both;
}
.form-row label{
margin:0 0 4px 0;
width:100px;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
}
tr.mceLast{display:none;}

form.frontendadmin fieldset{
border:0 none;
padding:0;
margin:0;
}
.help{
color:#666;
font-size:12px;
font-style:italic;
padding-left:100px;
}
/*----------------- submit row ------------------*/
form.frontendadmin{
position: relative;
padding-bottom:36px;
}

.submit-row {
padding:5px;
text-align: right;
border:1px solid;
border-color: #ccc; 
background:#f2f2f2;
-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);
-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);
box-shadow:0 1px 6px rgba(0,0,0,0.2);
overflow: auto;
  position: relative;
  bottom: 0;
  width:100%;
  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;

}


.submit-row p.deletelink-box{
float:left;
margin:0;
font-size: 12px;
padding:0;
}
.submit-row p.deletelink-box a{
text-decoration: none;
	color:#930303;
	display: block;
	padding:6px 10px 6px 0;

}

.submit-row p.deletelink-box a:hover{
	color:#dc0b0b;
}
/*----- submit row buttons--------*/

.submit-row input{
	-webkit-appearance: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #cfcfcf));
	background: -moz-linear-gradient(top center, #ededed 0%, #cfcfcf 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	font: bold 12px/1.2 sans-serif;
	outline: 0;
	overflow: visible;
	padding: 4px 12px 4px;
	text-shadow: 0 1px 0px #fff;
	width: auto;
	margin:0 6px 0 0;
	height:auto;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 0px;
	float:right;

}
.submit-row input.default {
	background: #139e04;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #139e04), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #139e04 0%, #0f6705 100%);
	border: 1px solid;
	border-color: #0c590a #094b08 #063e05;
	color: #fff;
	font: bold 13px/1.2 sans-serif;
	padding: 3px 12px 4px;
	text-shadow: 0 -1px 1px #0d5c05;
	margin:0;
	float:right;
}
.submit-row input.default:hover{
	background: #15c102;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #15c102), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #15c102 0%, #0f6705 100%);

}
.submit-row input.default:active{
	background: #0f6705;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0f6705), color-stop(1, #15c102));
	background: -moz-linear-gradient(top center, #0f6705 0%, #15c102 100%);

}