/*  type styles----*/

.srv_adminBox, .srv_adminBox p{
font: normal 12px/16px sans-serif;
color: #333;
}
p#srv_insert_image_title{
margin:9px 0 18px;
}


/*---- overlay forms-----*/

.srv_adminBox label{
font: normal 12px/12px sans-serif;
color:#333;
margin: 12px 0 1px 0;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
}
.srv_adminBox input{
width:180px;
}
fieldset{
border:0 none;
}
p.formHint{
font: italic 11px/14px sans-serif;
color:#666;
}
.srv_buttonHolder{
text-align: right;
}


/*---------- all text inputs, formatted uni-form style-----*/

::-moz-focus-inner {border: 0;}
input,button,select,textarea {margin: 0;vertical-align: middle;}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
.srv_adminBox input{
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: #222;
	outline: 0;
	padding: 2px 3px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 1.8em;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

textarea{
height:100px;
}

button:focus,button:active,input:focus,input:active,select:focus,select:active,textarea:focus,textarea:active {
	-moz-box-shadow: 0 0 14px #8facf5;
	-webkit-box-shadow: 0 0 14px #8facf5;
	box-shadow: 0 0 14px #8facf5;
	background-color:#fff;
	background-color: rgba(255,255,255,0.85);
	/* for Opera */
	z-index: 1;
}

/*----------------- green action button------------------*/
button,
input[type="reset"],
input[type="submit"],
input[type="button"], .srv_adminBox input[type="submit"], .srv_adminBox input[type="button"] {
	-webkit-appearance: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #139e04;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #139e04), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #139e04 0%, #0f6705 100%);
	border: 1px solid;
	border-color: #0c590a #094b08 #094d08;
	cursor: pointer;
	color: #fff;
	font: bold 14px/1.2 sans-serif;
	outline: 0;
	overflow: visible;
	padding: 6px 10px 8px;
	text-shadow: 0 -1px 1px #0d5c05;
	width: auto;
	margin:0 0 36px 0px;
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	height:auto;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 0px;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover, .srv_adminBox input[type="submit"]:hover, .srv_adminBox input[type="button"]:hover{
	background: #15c102;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #15c102), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #15c102 0%, #0f6705 100%);

}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active, .srv_adminBox input[type="submit"]:active, .srv_adminBox input[type="button"]:active{
	background: #0f6705;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0f6705), color-stop(1, #15c102));
	background: -moz-linear-gradient(top center, #0f6705 0%, #15c102 100%);

}
button {
	/* IE7 */
	*padding-top: 1px;
	*padding-bottom: 1px;
}