/*-----overall admin toolbar skin ----*/
#srv_wrap{
position: fixed;
width:30px;
left:0;
}
.srv_adminBox{
background:#c3c3c3;
border-right:1px solid #909090;
outline:1px solid #e4e4e4;
}

#srv_wysiwyg_tools{
border-right:1px solid #333;
background:#d7d7d7;
-moz-box-shadow:0 0 6px rgba(0,0,0,0.2);
-webkit-box-shadow:0 0 6px rgba(0,0,0,0.2);
box-shadow:0 0 6px rgba(0,0,0,0.2);
}
.srv_adminBox hr{
border:0 none;
border-top:1px solid #909090;
border-bottom:1px solid #e4e4e4;
margin:4px 0 0 0;
height:0;
padding:0;
}
.srv_solidBox{
background:#979797
border:0 none;
}

/* -- small drop shadows --*/
.srv_filePane li img, #srv_insertMedia img{
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

/* ------------ new CSS Styles dialog ------- */
#srv_CSSstyles{
left:0;
left:-151px;
top:0;
bottom:0;
width:150px;
position: fixed;
}
#srv_CSSstyles ul{
top:0px;
bottom:0;
left:-151px;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
width:150px;
}
div#srv_CSSstyles ul li{
padding:8px;
width:130px;
overflow: hidden;
white-space: nowrap;

}
div#srv_CSSstyles ul li, div#srv_CSSstyles a, div#srv_CSSstyles a:link, div#srv_CSSstyles a:hover {
background:none transparent;
font-family:inherit;
font-weight:inherit;
font-style:inherit;
font-size:inherit;
border-bottom:0 none;
outline:0 none;
color:inherit;
list-style:none;
text-decoration:none;
margin:0;
}

div#srv_CSSstyles h1, div#srv_CSSstyles h2, div#srv_CSSstyles h3, div#srv_CSSstyles h4, div#srv_CSSstyles h5, div#srv_CSSstyles h6, div#srv_CSSstyles p, div#srv_CSSstyles blockquote, div#srv_CSSstyles pre{
margin:0;
padding:0;
}

/* ------------ new Insert dialog ------- */

#srv_insertMedia{
top:0px;
bottom:0px;
left:0px;
left:-322px;
width:320px;
position: fixed;
}
#srv_insertMedia img, #srv_insertMedia img a{
border:0 none;
outline:0 none;
}

/*----- then ---*/
.srv_mediaList{
top:0px;
left:-340px;
width:300px;
position:fixed;
list-style:none;
margin:0;
padding:5px 0 0 20px;
height:61px;
border-bottom:1px solid #909090;
background-image: -moz-linear-gradient(top, #d4d4d4, #c4c4c4); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #d4d4d4),color-stop(1, #c4c4c4)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d4d4d4', EndColorStr='#c4c4c4')"; /* IE8 */
}

.srv_mediaList li{
width:59px;
height:66px;
background:none transparent;
list-style:none;
}
.srv_mediaList li a{
opacity: 0.5;
width:59px;
height:22px;
display:block;
text-align: center;
color:#000;
padding-top:39px;
font-size:11px;
-moz-text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
-webkit-text-shadow:0px 1px 0px rgba(255,255,255,0.8);
text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
}
.srv_mediaList li.active a{
opacity: 1.0;
}
.srv_mediaList li.active{
background: url(../images/srv-icons.png) 0px -573px no-repeat;
}
.srv_mediaList li a.imageinsert{
background: url(../images/imageIcon.png) top left no-repeat;
}

/*--------- uploadify ------------*/

.uploadifyQueueItem {
	font: 9px Helvetica, Arial, sans-serif;
	text-align: left;
	border: 0 none;
	background-color: transparent;
	margin-top: 4px;
	padding: 0;
	width: 100%;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
	width:9px;
	height:9px;
}
#srv_insertmedia .uploadifyQueueItem img{
	-moz-box-shadow: 0 0 0 transparent;
	-webkit-box-shadow:  0 0 0 transparent;
	box-shadow:  0 0 0 transparent;
}
.uploadifyQueueItem .cancel a{
	border-bottom:0 none;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border:0 none;
	margin-top: 4px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #1046B9;
	width: 1px;
	height: 3px;
}

/*-- then ---*/
.srv_filePane {
overflow-y:auto;
overflow-x:hidden;
top:67px;
bottom:0px;
left:-340px;
width:120px;
position:fixed;
height:auto;
margin:0;
background: #929292;
border-right:1px solid #909090;
}

.srv_filePane ul{
list-style: none;
margin:0;
padding:18px 0 0 0;
}
.srv_filePane li{
width:100%;
text-align: center;
padding:6px 0;
}
.srv_filePane li img{
max-height: 90px;
max-width: 90px;
}
.srv_filePane #srv_upload_image{
width:100%;
}
#srv_upload_image label {
display:none;
}
#srv_upload_image .ctrlHolder {
width:90px;
text-align: center;
padding:10px 0 0 0;
margin:0 auto;
}
.srv_insertOptions{
position:fixed;
left:-200px;
top:67px;
width:180px;
padding:10px;
bottom:0;
overflow:auto;
}

#srv_insert_image_display{
width:100%;
text-align: center;
}
#srv_insert_image_display img{
max-height: 140px;
max-width:180px;
}

.srv_insertOptions label {
width:168px;
text-align: left;
}
div.srv_insertPanel{
    margin:0;
    padding:0;
}



/*-----admin toolbar structure ----*/
div.srv_adminBox, div#srv_wysiwyg_tools, div#srv_adminLarge{
position:fixed;
z-index:5000;
}

#srv_wysiwyg_tools{
width:30px;
left:-80px;
top:0;
bottom:0;
position: relative;
min-height:430px;
}
#srv_wysiwyg_tools ul{
top:50%;
margin:-190px 0 0 0;
padding:0;
height:380px;
width:30px;
position: absolute;
}

/*--------text editor icons ----------*/ 

#srv_wysiwyg_tools ul li{
width:26px;
height:24px;
border-bottom:0 none;
margin:2px 2px 2px 0;
padding:0;
background:none transparent;
}
#srv_wysiwyg_tools a{
width:100%;
height:100%;
background-image: url(../images/srv-icons.png);
display:block;
overflow: hidden;
text-indent:-9999px;
border:1px solid transparent;
border-left:0 none;
}

#srv_wysiwyg_tools a:hover{
background-color:#e1e1e1;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border:1px solid #bbbbbc;
border-left:0 none;
}
	
#srv_wysiwyg_tools a.srv_bold, #srv_wysiwyg_tools a.srv_bold.active				{background-position: 0 -133px;}
#srv_wysiwyg_tools a.srv_italic, #srv_wysiwyg_tools a.srv_italic.active			{background-position: 0 -160px;}
#srv_wysiwyg_tools a.srv_underline, #srv_wysiwyg_tools a.srv_underline.active	{background-position: 0 -186px;}
#srv_wysiwyg_tools a.srv_style, #srv_wysiwyg_tools a.srv_style.active			{background-position: 0 -214px;}
#srv_wysiwyg_tools a.srv_bullet, #srv_wysiwyg_tools a.srv_bullet.active			{background-position: 0 -246px;}
#srv_wysiwyg_tools a.srv_number, #srv_wysiwyg_tools a.srv_number.active			{background-position: 0 -273px;}
#srv_wysiwyg_tools a.srv_blockquote, #srv_wysiwyg_tools a.srv_blockquote.active	{background-position: 0 -299px;}
#srv_wysiwyg_tools a.srv_hr, #srv_wysiwyg_tools a.srv_hr.active					{background-position: 0 -318px;}

#srv_wysiwyg_tools a.srv_undo, #srv_wysiwyg_tools a.srv_undo.active				{background-position: 0 -357px;}
#srv_wysiwyg_tools a.srv_redo, #srv_wysiwyg_tools a.srv_redo.active				{background-position: 0 -383px;}

#srv_wysiwyg_tools a.srv_link, #srv_wysiwyg_tools a.srv_link.active				{background-position: 0 -423px;}
#srv_wysiwyg_tools a.srv_unlink, #srv_wysiwyg_tools a.srv_unlink.active			{background-position: 0 -448px;}

#srv_wysiwyg_tools a.srv_spell, #srv_wysiwyg_tools a.srv_spell.active			{background-position: 0 -483px;}
#srv_wysiwyg_tools a.srv_code, #srv_wysiwyg_tools a.srv_code.active				{background-position: 0 -508px;}
#srv_wysiwyg_tools a.srv_insert, #srv_wysiwyg_tools a.srv_insert.active			{background-position: 0 -532px;}


#srv_wysiwyg_tools a.srv_bold:hover			{background-position: -32px -133px;}
#srv_wysiwyg_tools a.srv_italic:hover		{background-position: -32px -160px;}
#srv_wysiwyg_tools a.srv_underline:hover	{background-position: -32px -186px;}
#srv_wysiwyg_tools a.srv_style:hover		{background-position: -32px -214px;}
#srv_wysiwyg_tools a.srv_bullet:hover		{background-position: -32px -246px;}
#srv_wysiwyg_tools a.srv_number:hover		{background-position: -32px -273px;}
#srv_wysiwyg_tools a.srv_blockquote:hover	{background-position: -32px -299px;}
#srv_wysiwyg_tools a.srv_hr:hover			{background-position: -32px -318px;}

#srv_wysiwyg_tools a.srv_undo:hover			{background-position: -32px -357px;}
#srv_wysiwyg_tools a.srv_redo:hover			{background-position: -32px -383px;}

#srv_wysiwyg_tools a.srv_link:hover			{background-position: -32px -423px;}
#srv_wysiwyg_tools a.srv_unlink:hover		{background-position: -32px -448px;}

#srv_wysiwyg_tools a.srv_spell:hover		{background-position: -32px -483px;}
#srv_wysiwyg_tools a.srv_code:hover			{background-position: -32px -508px;}
#srv_wysiwyg_tools a.srv_insert:hover		{background-position: -32px -532px;}


/*-------new code dialog-------*/
#srv_code_edit{
left:-402px;
top:0;
bottom:0;
width:400px;
}
#srv_code_edit textarea{
bottom:64px;
top:0;
bottom:77px;
width:400px;
position: absolute;
left:-402px;
margin:0;
padding:8px;
overflow-y:auto;
overflow-x:hidden;
font: 12px/16px "Lucida Console", Monaco, "Courier New", mono;
color:#333;
white-space: pre;
background:#eee;
height:auto;
border:0 none;
}
div#srv_code_edit input{
position: fixed;
left:-396px;
width:190px;
margin:0;
bottom:36px;
}

/*-------link dialog-------*/
div#srv_link{
left:-202px;
top:0;
bottom:0;
width:180px;
position: fixed;
padding:10px;
}