/*  type styles----*/

.srv_adminBox, .srv_adminBox p{
font: normal 12px/16px sans-serif;
color: #333;
}
p#srv_insert_image_title{
margin:9px 0 18px;
}


/*---- overlay forms-----*/

.srv_adminBox form.uniForm label{
font: normal 12px/12px sans-serif;
color:#333;
margin: 12px 0 1px 0;
display:block;
width:100%;
text-align: left;
}
.srv_adminBox input.textInput{
width:100%;
float:none;
}
.srv_adminBox fieldset{
border:0 none;
}
.srv_adminBox .uniForm .formHint{
font: italic 11px/14px sans-serif;
color:#666;
width:100%;
top:0;
margin:4px 0 18px 0;
}
.srv_adminBox .srv_buttonHolder{
text-align: right;
}
fieldset.module h2{
font-size: 16px;
}
fieldset.module th{
background:#F2F2F2;
padding:4px;
border:1px solid #ccc;
border-right:0 none;
border-left:0 none;
}


/*---------- all text inputs, with overlay and inline inheritance added-----*/

::-moz-focus-inner {border: 0;}
input,button,select,textarea {margin: 0;vertical-align: middle;}

.srv_adminBox textarea,
.srv_adminBox select,
.srv_adminBox input[type="date"],
.srv_adminBox input[type="datetime"],
.srv_adminBox input[type="datetime-local"],
.srv_adminBox input[type="email"],
.srv_adminBox input[type="month"],
.srv_adminBox input[type="number"],
.srv_adminBox input[type="password"],
.srv_adminBox input[type="search"],
.srv_adminBox input[type="tel"],
.srv_adminBox input[type="text"],
.srv_adminBox input[type="time"],
.srv_adminBox input[type="url"],
.srv_adminBox input[type="week"],
.srv_adminBox input, 

.frontendadmin textarea,
.frontendadmin select,
.frontendadmin input[type="date"],
.frontendadmin input[type="datetime"],
.frontendadmin input[type="datetime-local"],
.frontendadmin input[type="email"],
.frontendadmin input[type="month"],
.frontendadmin input[type="number"],
.frontendadmin input[type="password"],
.frontendadmin input[type="search"],
.frontendadmin input[type="tel"],
.frontendadmin input[type="text"],
.frontendadmin input[type="time"],
.frontendadmin input[type="url"],
.frontendadmin input[type="week"],
.frontendadmin input{
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: #222;
	outline: 0;
	padding: 2px 3px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 1.8em;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

.srv_adminBox textarea, 
.frontendadmin textarea{
height:100px;
}

.srv_adminBox input[type="text"]:focus,
.srv_adminBox input[type="text"]:active,
.srv_adminBox select:focus,
.srv_adminBox select:active,
.srv_adminBox textarea:focus,
.srv_adminBox textarea:active,

.frontendadmin input[type="text"]:focus,
.frontendadmin input[type="text"]:active,
.frontendadmin select:focus,
.frontendadmin select:active,
.frontendadmin textarea:focus,
.frontendadmin textarea:active {
	-moz-box-shadow: 0 0 14px #8facf5;
	-webkit-box-shadow: 0 0 14px #8facf5;
	box-shadow: 0 0 14px #8facf5;
	background-color:#fff;
	background-color: rgba(255,255,255,0.85);
	/* for Opera */
	z-index: 1;
}

.frontendadmin select[multiple="multiple"]{
height:150px;
font-size:12px;
}
.frontendadmin input[type="checkbox"]{
margin:0 10px 0 80px;
}
.frontendadmin .defaultSkin table#id_content_tbl{
background:transparent;
}

/*----------------- green action button------------------*/
.srv_adminBox input[type="submit"], 
.srv_adminBox input[type="button"] {
	-webkit-appearance: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #139e04;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #139e04), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #139e04 0%, #0f6705 100%);
	border: 1px solid;
	border-color: #0c590a #094b08 #094d08;
	cursor: pointer;
	color: #fff;
	font: bold 13px/1.2 sans-serif;
	outline: 0;
	overflow: visible;
	padding: 6px 10px 8px;
	text-shadow: 0 -1px 1px #0d5c05;
	width: 100%;
	margin:0 0 36px 0px;
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	height:auto;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 0px;
}
.srv_adminBox input[type="submit"]:hover, .srv_adminBox input[type="button"]:hover{
	background: #15c102;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #15c102), color-stop(1, #0f6705));
	background: -moz-linear-gradient(top center, #15c102 0%, #0f6705 100%);

}
.srv_adminBox input[type="submit"]:active, .srv_adminBox input[type="button"]:active{
	background: #0f6705;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0f6705), color-stop(1, #15c102));
	background: -moz-linear-gradient(top center, #0f6705 0%, #15c102 100%);

}