{% load thumbnail uni_form_tags %}
<ul id="srv_image_filePane" class="srv_solidBox srv_filePane scroll">
  	{% for image in images %}
		{% include "panels/add_image.html" %}
	{% endfor %}
</ul>
<div id="" class="srv_solidBox srv_insertOptions scroll">
<h4>Insert an image</h4>
	<div id="srv_insert_image_display"></div>
	<h5 id="srv_insert_image_title"></h5>
	<p id="srv_insert_image_description"></p>
	<p><select id="#srv_insert_image_template"><option>Auto</option></select></p>
	<input type="hidden" name="srv_insert_image_pk" id="srv_insert_image_pk" value="0">
	<input type="button" class="srv_button insert" id="srv_insert_image_action" value="Place image at Cursor">

    <form id="srv_upload_image" method="POST" enctype="multipart/form-data" class="servee uniform" action="{% url upload_image %}">
    {% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
	    <input type="submit" class="srv_button insert button" id="srv_upload_image_action" value="Upload">
    </div>
</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	// uploadify
	$("form#srv_upload_image input[type=file]").uploadify({
		swf: "{{ STATIC_URL }}uploadify/uploadify.swf",
        uploader: $("form#srv_upload_image").attr("action"),
        cancelImage: "{{ STATIC_URL }}uploadify/uploadify-cancel.png",
        auto: true,
        buttonImage: "{{ STATIC_URL }}images/buttonBG.png",
        fileObjName: "image",
		onUploadSuccess: function(file, response){
			data = jQuery.parseJSON(response);
			if(data.error.length == 0){
				$("ul#srv_image_filePane").append(data.item);
				if (DEBUG) console.log('appending '+data.item);
			}
			else {
				if (DEBUG) console.log(error);
				else for (error in data.error)	alert(error);
			}
		}
	});
	$("input#srv_upload_image_action").hide();
    	
	$("a[href=#srv_place_image]").live('click',function(e){
		var chosen = this;
		$(chosen).parent().parent().children().removeClass('backgroundHighlight');
		$(chosen).parent().addClass('backgroundHighlight');
		$("#srv_insert_image_title").html($(chosen).children('p').html());
		$("#srv_insert_image_description").html($(chosen).siblings('img').attr('alt'));
		$("#srv_insert_image_pk").val($(chosen).attr('data-id'));
		$("#srv_insert_image_display").html("<img src='"+$(chosen).attr('data-big-thumb')+"' width='"+$(chosen).attr('data-big-thumb-width')+"' height='"+$(chosen).attr('data-big-thumb-height')+"' />");
		e.preventDefault();
		return false;
	});
	$("input#srv_insert_image_action").click(function(e){
		var template, pk;
		pk = parseInt($("#srv_insert_image_pk").val(), 10);
		if(pk > 0){
			template = $("select#srv_insert_image_template").val();
			if(template == 'auto') template = null;
			srv_insert_image_by_pk(pk, template);
		}
		e.preventDefault();
		return false;
	});
	function srv_insert_image_by_pk(pk, template){
		var markup = '<img data-inline-type="image.image" data-inline-id="'+pk+'" class="inline-replace" src="';
		markup += $("srv_image_filePane li a[data-id="+pk+"]").attr("data-big-thumb");
		markup += '"';
		if(template){
			markup += ' data-inline-template="'+template+'"';
		}
		markup += '/>';
		srv_wysiwyg_insert_html_at_cursor(markup);
	}
});
</script>