@import url(formOverrides.css);

#srv_adminLarge a, ul#srv_adminList a{
border-bottom:0 none;
}

div.srv_adminBox h4{
color: #333;
font: lighter 20px/26px Helvetica Neue,Helvetica,Arial sans-serif;
border-bottom:1px solid #ccc;
padding: 6px 0;
margin:0;
}

/*-----admin toolbar styles ----*/

div#srv_adminBar, div.drillRight1{
padding:18px 7px 0 13px;
top:0;
bottom:0;
right:-1px;
width:160px;
}

div#srv_adminBar.adminOut1{
right:-180px;
}

/*-----admin toolbar list styles -

div.srv_adminBox ul{
list-style:none;
margin:0 0 8px 0;
padding:0;
}
div.srv_adminBox li{
padding:0;
margin:0;
width:167px;
border-bottom:1px solid #fff;
background:none transparent;
}
div.srv_adminBox li:last{
border-bottom:0 none;
}
div.srv_adminBox li a{
display:block;
width:100%;
height:100%;
padding:4px;
text-decoration:none;
color:#555;
font: 12px/18px Helvetica Neue,Helvetica,Arial sans-serif;
-moz-text-shadow: 0px -1px 0px rgba(255,255,255,0.9);
-webkit-text-shadow: 0px -1px 0px rgba(255,255,255,0.9);
text-shadow: 0px -1px 0px rgba(255,255,255,0.9);
border:0 none;
}
div.srv_adminBox li a span{
font: lighter 16px/18px Helvetica Neue,Helvetica,Arial sans-serif;
letter-spacing: -.3px;
}

div.srv_adminBox li.hideTools a, div#srv_show a span{
font-size:11px;
}

div.srv_adminBox li.hideTools a{
text-align:right;
padding:0;
display: block;
width:157px;
}
div.srv_adminBox li.hideTools a:hover, div.srv_adminBox li.hideTools:hover{
background:none;
}
div#srv_CSSstyles li:hover, div.srv_adminBox .srv_filePane li:hover, div#srv_gallerypreview ul li:hover, div.srv_adminBox li:hover, ul.srv_gallery_filepane li:hover {
background-color:#aaa;
color:#000;
}
div.srv_adminBox li.selected a{
background:#ddd;
color:#000;
}

---*/
/*-----admin button styles ----*/

input.srv_button, p.submit input.submit, p.submit input.cancel{
width:auto;
padding:3px 8px;
margin:0 0 6px 0;
font: bold 13px/1.2 Arial, sans-serif;
background-image: -moz-linear-gradient(top, #eee, #ccc); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #ccc)); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc')"; 
cursor: pointer;
outline: 0;
overflow: visible;
color:#333;
text-decoration: none;
text-shadow: #fff 0 1px 1px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid;
border-color: #ddd #bbb #999;
}
input.srv_button:hover, p.submit input.submit:hover, p.submit input.cancel:hover{
background-image: -moz-linear-gradient(top, #fff, #ccc); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fff),color-stop(1, #ccc)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc')"; /* IE8 */
}
input.fileinput{
width:200px;
}
#srv_adminBar button{width:100%;}
input.srv_button:hover{
text-shadow:0 1px rgba(0,0,0, 0.33), 0 0 5px rgba(255, 255, 255, 0.67);
}
button.srv.active, .srv_ctrlHolder .primaryAction {
background-image: -moz-linear-gradient(top, #eee, #bbb); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eee),color-stop(1, #bbb)); 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#bbbbbb')"; 
color:#fff;
border:1px solid #12b806;
border-bottom:1px solid #095303;
}
button.srv:active.active{
background-image: -moz-linear-gradient(top, #0b6f03, #109c06); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0b6f03),color-stop(1, #109c06)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0b6f03', EndColorStr='#109c06')"; /* IE8 */
}

/*-----admin toolbar small link styles ----*/

div#srv_adminBar p{
font: normal 11px/14px Helvetica, Arial, sans-serif;
margin:0;
}
div#srv_adminBar p a, div#srv_adminBar p a:link{
color:#555;
text-decoration:none;
border:0 none;
}
div#srv_adminBar p a:hover, div#srv_adminBar p a:active{
color:#000;
}

/* ------------ new insert media dialog ------- */




div.srv_adminBox .srv_filePane li, ul.srv_gallery_filepane li{
margin:0 0 8px 0;
padding:4px 0 0 0;
list-style:none;
position:relative;
overflow:hidden;
text-align:center;
background:transparent none;
border:0 none;
width:auto;
}
div.srv_adminBox .srv_filePane li.backgroundHighlight, .srv_filePane li.backgroundHighlight:hover, .ul.srv_gallery_filepane li.backgroundHighlight, .ul.srv_gallery_filepane li.backgroundHighlight:hover{
border-top: 1px solid #5084f5;
border-bottom: 1px solid #0f3689;
background-image: -moz-linear-gradient(top, #3167db, #1046b9); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #3167db),color-stop(1, #1046b9)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3167db', EndColorStr='#1046b9')"; /* IE8 */
}

.srv_filePane img, ul.srv_mediaList li.active, ul.srv_galleryList li.active{
-moz-box-shadow:0px 1px 3px rgba(0,0,0,0.3);
-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.3);
box-shadow:0px 1px 3px rgba(0,0,0,0.3);
}
.srv_filePane li.backgroundHighlight p{color:#fff;}
.srv_filePane li p, ul.srv_gallery_filepane li p{
font: 10px/9px Helvetica Neue,Helvetica,Arial sans-serif;
color:#333;
text-align:center;
margin:0 0 9px 0;
padding:0px 4px;
}

.srv_insertOptions{
position:fixed;
left:16px;
left:-500px;
top:16px;
bottom:16px;
width:168px;
padding:8px;
overflow:auto;
}
.srv_insertOptions select {
width:168px;
background: #fff;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius:0px;
}
.srv_insertOptions label {
width:168px;
text-align: left;
}


ul.srv_mediaList li, ul.srv_mediaList li p, ul.srv_mediaList li a, ul.srv_mediaList li a:hover,
ul.srv_galleryList li, ul.srv_galleryList li p, ul.srv_galleryList li a, ul.srv_galleryList li a:hover
{
width:116px;
font: 10px/9px Helvetica Neue,Helvetica,Arial sans-serif;
padding:0;
margin:0;
background:0 none;
border:0 none;
color:#333;
}
ul.srv_mediaList li p,
ul.srv_galleryList li p{
margin:16px 0 18px 0;
}
ul.srv_mediaList li,
ul.srv_galleryList li{
height:46px;
padding:8px;
width:116px;
} 
ul.srv_mediaList li.active,
ul.srv_galleryList li.active{
background:#fff;
}

ul.srv_mediaList li img,
ul.srv_galleryList li img{
float:left;
margin:0 8px 0 9px;
opacity:0.7;
} 
ul.srv_mediaList li:hover img,
ul.srv_galleryList li:hover img{
opacity:1.0;
}

div.srv_insertPanel{
    margin:0;
    padding:0;
}

div#srv_show{
background: url(/site_media/static/images/sLogo.png) 2px 3px no-repeat rgba(255,255,255,0.75);
right:-110px;
top:200px;
width:150px;
height:40px;
}
div#srv_show a{
color:#1B2BA0;
font-weight:lighter;
height:18px;
text-decoration: none;
border-bottom: 0 none;
outline:0 none;
padding:10px 8px 12px 12px;
display:block;
}
div#srv_show a span{
display:block;
float:right;
margin-left:10px;
color:#555;
font: 11px/12px Helvetica Neue,Helvetica,Arial sans-serif;
}

/*-------new code dialog-------*/
div#srv_code_edit{
left:0;
left:-850px;
top:0;
bottom:0;
width:750px;
position: fixed;
background: rgba(255,255,255,0.9);
-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
box-shadow:1px 1px 10px rgba(0,0,0,0.5);
z-index:5001;
}
div#srv_code_edit textarea{
bottom:64px;
height:90%;
left:16px;
left:-750px;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
top:16px;
width:706px;
min-height:488px;
font: 12px/16px "Lucida Console", Monaco, "Courier New", mono;
color:#555;
white-space: pre;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius:0px;
background:#eaeaea;
border:1px solid #cdcdcd;
border-bottom:1px solid #f9f9f9;
border-right:1px solid #f9f9f9;
padding:6px;
}
div#srv_code_edit input{
bottom:16px;
left:16px;
left:-250px;
margin:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
}

/*-------paste dialog-------*/
div#srv_paste{
left:0;
left:-850px;
top:0;
bottom:0;
width:750px;
position: fixed;
background: rgba(255,255,255,0.9);
-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
box-shadow:1px 1px 10px rgba(0,0,0,0.5);
z-index:5001;
}
div#srv_paste textarea{
bottom:64px;
height:auto;
left:16px;
left:-750px;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
top:16px;
width:718px;
}
div#srv_paste input{
bottom:16px;
height:32;
left:16px;
left:-250px;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
width:218px;
background:red;
}

/*-------link dialog-------*/
div#srv_link{
left:0;
left:-950px;
top:0;
bottom:0;
width:450px;
position: fixed;
background: rgba(255,255,255,0.9);
-moz-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
-webkit-box-shadow:1px 1px 10px rgba(0,0,0,0.5);
box-shadow:1px 1px 10px rgba(0,0,0,0.5);
z-index:5001;
}
div#srv_link form{
bottom:48px;
height:auto;
left:16px;
left:-600px;
margin:0;
padding:0;
overflow-y:auto;
overflow-x:hidden;
position:fixed;
top:16px;
width:418px;
}
div#srv_link label{
width:40px;
float:left;
padding:6px 10px 0 0;
}
div#srv_link input.textInput{
width:320px;
float:left;
margin-bottom:4px;
}
div#srv_link input.srv_button{
width:auto;
margin-left:50px;
font-weight: normal;
}

div#srv_link p.formHint{
float:none;
position: static;
width:380px;
}
div#srv_link form fieldset{
    left:-300px;
}
div#srv_link form fieldset div{
    left:-300px;
}
div.srv_ctrlHolder{
clear:both;
}

/*-----inline editor styles ----*/

a.frontendadmin_add, a.frontendadmin_delete, a.frontendadmin_edit{
padding:2px 5px 1px 16px;
margin:0 4px 0 0;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
cursor: pointer;
outline: 0;
overflow: visible;
background:url(../images/small-icons.png) no-repeat -2px 0px;
color:#333;
text-decoration: none;
font: bold 11px/1.2 Arial, sans-serif;
text-shadow: #fff 0 1px 1px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid;
border-color: #ddd #bbb #999;
}
a.frontendadmin_delete{
background:url(../images/small-icons.png) no-repeat -2px -36px;
}
a.frontendadmin_edit{
background:url(../images/small-icons.png) no-repeat -2px -18px;
}
	
a.frontendadmin_add:hover{
background:url(../images/small-icons.png) no-repeat -2px -57px;
}
a.frontendadmin_delete:hover{
background:url(../images/small-icons.png) no-repeat -2px -93px;
}
a.frontendadmin_edit:hover{
background:url(../images/small-icons.png) no-repeat -2px -75px;
}
body fieldset.frontendadmin p, body fieldset.frontendadmin{
background: none transparent;
border:0 none;
padding:0;
}
body fieldset.frontendadmin p input[type="text"], body fieldset.frontendadmin p input[type="password"], body fieldset.frontendadmin p textarea {
border:1px solid #ccc;
border-bottom:1px solid #eee;
padding:4px;
}
body fieldset.frontendadmin textarea{
height:375px;
}

body fieldset.frontendadmin p label {
color:inherit;
font-weight:lighter;
display: inline-block;
width:150px;
}

body .defaultSkin table.mceLayout {
border-bottom:1px solid #eee;
background:none transparent;
} 
body .defaultSkin .mceIframeContainer{
border:0 none;
}
body .defaultSkin tr.mceLast{
display: none;
}


/*------- styles for Gallery insert-----*/

#srv_adminLarge{
padding:18px 7px 0 13px;
top:0;
bottom:0;
right:179px;
width:700px;
display: none;
}
#srv_adminLarge ul.srv_galleryList, ul.srv_gallery_filepane, #srv_adminLarge div#srv_galleryEdit{
top:16px;
bottom:16px;
position:fixed;
overflow:auto;
left:auto;
}

#srv_adminLarge ul.srv_galleryList{
right:175px;
width:136px;
}

#srv_adminLarge ul.srv_galleryList li a{
width:100%;
height:100%;
display:block;
opacity:0.8;
}
#srv_adminLarge ul.srv_galleryList li a:hover{
opacity:1.0;
}
ul.srv_galleryList li a.srv_gallery_add_document, ul.srv_mediaList li a.srv_wysiwyg_insert_Document_panel{
background:url(../images/docIcon.png) no-repeat top right;
}
ul.srv_galleryList li a.srv_gallery_add_video, ul.srv_mediaList li a.srv_wysiwyg_insert_Video_panel{
background:url(../images/videoIcon.png) no-repeat top right;
}
ul.srv_galleryList li a.srv_gallery_add_image, ul.srv_mediaList li a.srv_wysiwyg_insert_Image_panel{
background:url(../images/imageIcon.png) no-repeat top right;
}
ul.srv_mediaList li a.srv_wysiwyg_insert_Gallery_panel{
background:url(../images/galleryIcon.png) no-repeat top right;
}



ul.srv_gallery_filepane{
right:311px;
width:150px;
bottom:0px;
}

#srv_adminLarge div#srv_galleryEdit{
right:481px;
width:400px;
overflow:hidden;
}

#srv_gallerypreview{
overflow:auto;
position: fixed;
top:110px;
bottom:16px;
width:400px;
right:478px;
}

div#srv_galleryEdit div.srv_buttonHolder{
position: fixed;
bottom:16px;
}

div#srv_gallerypreview ul{
margin:0;
padding:0;
list-style:none;
}
div#srv_gallerypreview ul li{
float:left;
padding:6px;
width:60px;
height:60px;
cursor: move;
}
div#srv_gallerypreview ul li a{
border: 0 none;
cursor: move;
}
div#srv_gallerypreview p{
width:12px;
height:12px;
margin:0;
}
div#srv_gallerypreview p a.delete{
background: url(../images/delete.png) 0px -29px no-repeat;
width:100%;
height:100%;
display:block;
text-indent: -9999px;
}
div#srv_gallerypreview p a.delete:hover{
background: url(../images/delete.png) 0px 0px no-repeat;
}


/*------ form styles for uniForm markup------*/

#srv_upload_image label{
font: 11px/18px Helvetica Neue,Helvetica,Arial sans-serif;
margin-top:56px;
display: block;
}

div.srv_ctrlHolder label{
font: 11px/18px Helvetica Neue,Helvetica,Arial sans-serif;
width:140px;
display: inline-block;
text-align:right;
float:none;
padding:0;
}
div.srv_ctrlHolder input, div.srv_ctrlHolder select{
font: normal 16px/18px Helvetica Neue,Helvetica,Arial sans-serif;
background:#fff;
color:#555;
border:1px solid #ccc;
padding:4px;
width:246px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius:0;
margin-bottom:0;
}

div.ctrlHolder input, div.ctrlHolder select{
background:#fff;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius:0px;
font: normal 13px/16px Helvetica Neue,Helvetica,Arial sans-serif;
padding:3px;
}
div.ctrlHolder select{
font: normal 13px/16px Helvetica Neue,Helvetica,Arial sans-serif;
width:53%;
}
div.ctrlHolder.checkbox{
margin-bottom:18px;
}
div.ctrlHolder.checkbox label{
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
padding:5px 0 0 6px;
}
div.srv_ctrlHolder select{
width:256px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius:0;
}
div.srv_ctrlHolder{
margin-bottom:4px;
}
div.srv_ctrlHolder p.formHint{
font: 9px/14px Helvetica Neue,Helvetica,Arial sans-serif;
text-align:right;
}
/*-----admin button styles ----*/

button.srv, .srv_button{
width:auto;
padding:8px 16px;
margin-bottom:6px;
font: 16px/14px Helvetica Neue,Helvetica,Arial sans-serif;
outline:0 none;
color:#555;
border:1px solid #999;
}
#srv_adminBar button{width:100%;}
div.srv_buttonHolder button.primaryAction{
background-image: -moz-linear-gradient(top, #109c06, #0b6f03); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #109c06),color-stop(1, #0b6f03)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#109c06', EndColorStr='#0b6f03')"; /* IE8 */
color:#fff;
border:1px solid #12b806;
border-bottom:1px solid #095303;
width:auto;
padding:8px 26px;
margin-bottom:6px;
font: 16px/14px Helvetica Neue,Helvetica,Arial sans-serif;
text-shadow:0 1px rgba(0,0,0, 0.33);
-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
-webkit-box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
box-shadow:0 0 3px rgba(0, 0, 0, 0.4);
outline:0 none;
}
div.srv_buttonHolder button.primaryAction:active{
background-image: -moz-linear-gradient(top, #0b6f03, #109c06); /* FF3.6 */
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0b6f03),color-stop(1, #109c06)); /* Saf4+, Chrome */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0b6f03', EndColorStr='#109c06')"; /* IE8 */
}


/*-------- front-end admin form styles -----*/

/* Buttons */

p.image a.frontendadmin{
    position: absolute;
}

/* Edit form */

fieldset.frontendadmin {
  margin: 0;
  padding: 10px 10px;
  border: 1px dotted #6498cc;
  font-size: 12px;
  background-color: white;
}

fieldset.frontendadmin legend {
  font:lighter 24px/27px "Helvetica Neue",Helvetica,Arial sans-serif;
  color: #666;
  padding: 0;
  margin-bottom:18px;
  display: block;
  width:100%;
  border-bottom:1px solid #ccc;
}

fieldset.frontendadmin img.preview {
  float: left;
  margin-right: 0.4em;
  border: 0.1em solid #4a6379;
}

fieldset.frontendadmin p {
  background-color: #e7eff6;
  margin: 0.8em 0;
  padding: 5px 10px;
  clear: both;
}

fieldset.frontendadmin label {
  font-size: 0.9em;
  color: #333333;
  display: block;
  margin-bottom: 3px;
  width:140px;
}

fieldset.frontendadmin p input[type=text],
fieldset.frontendadmin p input[type=password],
fieldset.frontendadmin p textarea,
fieldset.frontendadmin p select
{
  width: 98%;
  border:1px solid #ccc;
  border-top:1px solid #aaa;
  background:transparent none;
}

fieldset.frontendadmin p textarea {
  height: 25em;
}

fieldset.frontendadmin p span.help {
  font-size: 0.9em;
  display: block;
}

fieldset.frontendadmin ul.errorlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset.frontendadmin ul.errorlist li {
  margin: 5px 0 2px 0;
  padding: 5px 10px;
  color: White;
  background-color: #f74a4a;
}

fieldset.frontendadmin span.help,
fieldset.frontendadmin span.preview
{
  display: block;
  font-size: 0.95em;
  line-height: 1.2em;
  margin-top: 3px;
}

fieldset.frontendadmin p.formHint{
font: italic 10px/12px Helvetica Neue,Helvetica,Arial sans-serif;
text-align:left;
margin:0px 0 9px 0px;
position: relative;
color:#777;
}

span.mceEditor{margin:0px 0 9px 0px;display: block;}


/*---- price change form -----*/
div#container-change-price label{
text-align:left;
margin:0;
width:100%;
}

div#container-change-price p.formHint{
margin:0 0 18px 0;
}
div#container-change-price input#id_price{
width:160px;
margin-left:10px;
}

/*--- nav editor styles 8-29-10 --*/

#srv_navEditor{
top:0;
bottom:0;
left:0;
right:180px;
-moz-box-shadow: 0 0 0 rgba(0,0,0,0.0);
-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.0);
box-shadow: 0 0 0 rgba(0,0,0,0.0);
}
#srv_navEditor #pageInfo{
position: fixed;
top:16px;
left:16px;
bottom:16px;
overflow: auto;
width:370px;
}
#srv_navEditor #ArchBox{
position: fixed;
top:16px;
left:402px;
bottom:16px;
width:200px;
}
#srv_navEditor #OrphanBox{
position: fixed;
top:16px;
left:618px;
bottom:16px;
width:200px;
}

#srv_navEditor #ArchBox .srv_solidBox, #srv_navEditor #OrphanBox .srv_solidBox{
bottom:0px;
top:48px;
width:180px;
position: absolute;
overflow: auto;
padding:9px;
}

#pageInfo div.srv_ctrlHolder label{
width:120px;
}

#pageInfo div.srv_ctrlHolder input{
width:233px;
}
.frontendadmin input[type="checkbox"],.frontendadmin input[type="radio"]{width:13px;}
#pageInfo div.srv_ctrlHolder select{
width:243px;
} 

#pageInfo div.srv_ctrlHolder{
margin-top:9px;
}


/*- more inline edits -*/
span#id_content_parent, textarea#id_content, input[id="id_title"]{
width:100%;
clear:both;
}
label[for="id_content"], label[for="id_title"]{
text-align: left;
}

/*--------- uploadify ------------*/

.uploadifyQueueItem {
	font: 10px Helvetica, Arial, sans-serif;
	border: 1px solid #ddd;
	background-color: #eee;
	margin-top: 5px;
	padding: 4px;
	width: 91%;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyQueueItem .cancel a{
	border-bottom:0 none;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #1046B9;
	width: 1px;
	height: 3px;
}