/*------------- form overrides styles. typical uni-form stuff. -----------------*/
/*--------inlineLabels overrides ------*/
form.uniForm .inlineLabels label, form.uniForm .inlineLabels .label{ 
width: 130px;
margin: .3em 10px 0 0;
}

form.uniForm .ctrlHolder {
border:0 none;
margin-bottom:9px;
padding:0;
width:400px;
}

form.uniForm .focused{
background:none transparent;
}
form.uniForm .error {
background-color:#ffbbbb;
background-color:rgba(255,0,0,0.1);
border:1px solid #d40000;
padding:4px;
}
.errorField{color:#d40000;}


div.ctrlHolder input, .uniForm .inlineLabels .textInput, .uniForm .inlineLabels .fileUpload, .uniForm .inlineLabels .selectInput, .uniForm .inlineLabels select, .uniForm .inlineLabels textarea, .uniForm .inlineLabels .passwordinput {
width:300px;
}
.uniForm .inlineLabels textarea{
height:100px;
width:400px;
margin-top:9px;
}

/*--------overrides for full-width forms --------------*/

form.uniForm textarea, form.uniForm .blockLabels textarea, form.uniForm .blockLabels .textInput, form.uniForm .blockLabels .fileUpload, form.uniForm .selectInput, form.uniForm select, form.uniForm .blockLabels .selectInput, form.uniForm .blockLabels select {
width:98%;
}

form.uniForm .selectInput, form.uniForm select, form.uniForm .blockLabels .selectInput, form.uniForm .blockLabels select{
width:99.5%;
}
form.uniForm .buttonHolder{
padding:0 0 0 104px;
}

form.uniForm .inlineLabels .formHint{
top:auto;
text-align: left;
margin-left:140px;
padding:1px 6px;
font-size:11px;
color:#777;
font-style: italic;
}

form.uniForm .ctrlHolder ul{
list-style: none;
}

/*--------color and such --------------*/

input[type="checkbox"], input[type="radio"], div.ctrlHolder input[type="radio"] , div.ctrlHolder input[type="checkbox"] {
width:auto;
}
textarea{width:400px;}


/*---- overrides to make labels inline-----*/

.uniForm label, .uniForm .label{
width:100px;
display:inline-block;
vertical-align:top;
zoom:1;
*display:inline;
}

.uniForm .textInput, .uniForm .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm textarea{
float:none;
}




/*------ KK - borrowed from the formalize CSS project. Will make awesomer for future projects, but this will work for now. I'm busy. http://host.sonspring.com/formalize/assets/stylesheets/formalize.css -------*/


/* -- UI Consistency -----------------------------------------------*/

::-moz-focus-inner {
	border: 0;
}
input,
button,
select,
textarea {
	margin: 0;
	vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"], div.ctrlHolder input[type="submit"] {
	-webkit-appearance: none;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	background: #ddd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	font: bold 13px/1.2 Arial, sans-serif;
	outline: 0;
	overflow: visible;
	padding: 3px 10px 4px;
	text-shadow: #fff 0 1px 1px;
	width: auto;
	margin:0 0 36px 0px;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 0px;
}
button,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
a.edit:hover{
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ccc));
	background: -moz-linear-gradient(top center, #fff 0%, #ccc 100%);

}
button,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
a.edit:active{
	background: #eee;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(1, #fff));
	background: -moz-linear-gradient(top center, #ccc 0%, #fff 100%);

}
button {
	/* IE7 */
	*padding-top: 1px;
	*padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
	color: #888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	-webkit-appearance: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: #222;
	outline: 0;
	padding: 2px 3px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	height: 1.8em;

	/* IE7 */
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}


button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
	-moz-box-shadow: 0 0 14px #8facf5;
	-webkit-box-shadow: 0 0 14px #8facf5;
	box-shadow: 0 0 14px #8facf5;
	background-color:#fff;
	background-color: rgba(255,255,255,0.85);
	/* for Opera */
	z-index: 1;
}