{% extends "servee/base_site.html" %}
{% load i18n admin_modify servee_admin_modify admin_static %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"/admin/jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}{% comment %}<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />{% endcomment %}{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ request.path }}" method="post" id="{{ opts.module_name }}_form" class="frontendadmin">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row_frontendadmin %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row_frontendadmin %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script type="text/javascript">
$(document).ready(function(){
	if(typeof(DateTimeShortcuts) !== "undefined"){
	   DateTimeShortcuts.init();
	}
	$(window).scroll(function(){
		if  ($(window).scrollTop() > $(".scrollidentifier").offset({ scroll: false }).top){
		   $(".submit-row").css("position", "fixed");
		   $(".submit-row").css("bottom", "0");
		}

		if  ($(window).scrollTop() <= $(".scrollidentifier").offset({ scroll: false }).top){
		   $(".submit-row").css("position", "relative");
		   $(".submit-row").css("bottom", $(".scrollidentifier").offset());
		}
	});

	var $base = $("#{{ opts.module_name }}_form");
    var $par = $base.parent();
    load_wysiwyg($base);
    $base.submit(function(e){
        if($base.find("[type=file]").length == 0){
            $.ajax({
                "url": $base.attr("action"),
                "type": $base.attr("method"),
                "data": $base.serialize(),
                success: function(data, text){
                    //Fracking tinymce destroy bug....

                    t = {};
                    t.keyNav = {};
                    t.keyNav.destroy = function(){};

                    $par.html(data);
                },
            });

            e.preventDefault();
            return false;
        }
    });
});
</script>
{% endblock %}


{% block wysiwyg %}
{% include "servee/wysiwyg/tools.html" %}
{% endblock %}


