<html>
    <head>
        <title>{% block site_title %}Some Servee Site{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/djAdmin.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/screen.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}servee/js/frontendadmin.js"></script>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header>
            {% block header %}{% endblock %}
        </header>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>