@import "variables.less";
@import "mixins.less";
@servee-font-family: 'Source Sans Pro', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic);


#servee_container{ // namespacing the whole file
@import "buttons.less";
@import "forms.less";
@import "input-groups.less";
@import "overlay-ui.less";
@import "gallery-form-elements.less";

.form-row {
  margin-bottom:20px;
  > div{
    .make-row();
    label{
      .make-xs-column(3);
      .make-sm-column(4);
      .make-md-column(3);
      font-family: @servee-font-family;
      font-size:14px;
      font-weight:400;
      .box-sizing(border-box);
      min-width:100px;
      &.vCheckboxLabel{
        .make-xs-column(6);
        .make-sm-column(6);
        .make-md-column(6);
        padding-left:4px;
      }
    }
    [type=text],
    .file-upload,
    > [type=file],
    select{
      .make-xs-column(8);
      .make-sm-column(6);
      .make-md-column(6);
      font-family: @servee-font-family;
      font-size:13px;
      padding:4px 6px;
      min-height:20px;
      height:auto;
    }
    select{
      height:30px;
    }
    .file-upload,
    > [type=file]{
      padding:0;
      .clearable-file-input{
        float:right;
        text-align: right;
        label{
          padding:0;
          width:auto;
          margin:0;
          display:inline-block;
          float:none;
          text-align: left;
          vertical-align: bottom;
        }
        [type=checkbox]{
          width:auto;
          display:inline-block;
          margin-right:4px;
        }
      }
    }
    > [type=checkbox]{
      float:left;
      margin-left:25%;
      @media (min-width: @screen-sm) {margin-left:33.33333333333333%;}
      @media (min-width: @screen-md){margin-left:25%;}
    }
    .redactor_box{
      .box-sizing(border-box);
      .make-xs-column(12);
      .make-sm-column(12);
      .make-md-column(12);
    }
    p.datetime{
      float:left;
      width:70%;
      input{
        float:none;
        display:inline-block;
        vertical-align: middle;
        margin:10px
      }
    }

    p.help,
    p.file-upload{
      font-family: @servee-font-family;
      font-size:13px;
      font-weight:400;
      font-style:italic;
    }
    p.help{
      .make-xs-column(8);
      .make-xs-column-offset(3);
      .make-sm-column(6);
      .make-sm-column-offset(4);
      .make-md-column(9);
      .make-md-column-offset(3);
      padding-left:0;
    }
  }
}
fieldset.module table {
  width:100%;
  .original p{display:none} //hack to remove a bad django field
  thead{
    text-align:left;
  }
  .dynamic-images{
    border-bottom:1px solid #eee;
    img{
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
  }
}
.submit-row{
  background:#fff;
  border:1px solid #ddd;
  padding:10px;
  .clearfix();
  [type=submit]{
    .btn();
    .button-variant(#fff; @brand-success; @brand-success);
    font-family: @servee-font-family;
    font-size:13px;
    float:right;
  }
}
#servee_content{
  > h1{
    font-size:16px;
    font-family: @servee-font-family;
    font-weight:300;
  }
}
.errorlist{
  list-style: none;
  border: 1px solid #cc181e;
  padding: 10px;
  margin: 20px 0;
  color: #cc181e;
  background: #f1c7c9;
  font-family: @servee-font-family;
  font-size:14px;
  line-height:20px;
  font-weight:400;
}


} //end of #servee_container namespace

@import "calendar-clock-ui.less";
// this goes anywhere on the site, and will be affected by other
// site styles

a.frontendadmin,
a.frontendadmin_edit,
a.frontendadmin_add,
a.frontendadmin_delete{
  font-family: @servee-font-family;
  padding:0 6px;
  font-size:12px;
  display:inline-block;
  background:rgba(255,255,255,0.5);
  border:1px solid rgba(0,0,0,0.1);
  line-height:18px;
  font-weight:400;
  font-style: normal;
  &:hover{
    background:#fff;
    text-decoration: none;
  }
}
