{% load thumbnail uni_form_tags %}
<ul id="srv_document_filePane" class="srv_solidBox srv_filePane scroll">
  	{% for document in documents %}
		{% include "panels/add_document.html" %}
	{% endfor %}
</ul>
<div id="" class="srv_solidBox srv_insertOptions scroll">
<h4>Insert a Document</h4>
	<div id="srv_insert_document_display"></div>
	<h5 id="srv_insert_document_title"></h5>
	<p id="srv_insert_document_description"></p>
	<p><select id="#srv_insert_document_template"><option>Auto</option></select></p>
	<input type="hidden" name="srv_insert_document_pk" id="srv_insert_document_pk" value="0">
	<input type="button" class="srv_button insert" id="srv_insert_document_action" value="Place image at Cursor">


<form id="srv_upload_document" method="post" enctype="multipart/form-data" class="servee uniForm" action="{% url upload_document %}">
	{% csrf_token %}
	{{ form|as_uni_form }}
	<div class="buttonHolder">
	    <input type="submit" class="srv_button insert" id="srv_upload_document_action" class="button" value="Upload">
	</div>
</form>

</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ajaxupload.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}uploadify/swfobject.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}uploadify/jquery.uploadify.3.0.0.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	// uploadify
	$("form#srv_upload_document input[type=file]").uploadify({
		swf: "{{ STATIC_URL }}uploadify/uploadify.swf",
        uploader: $("form#srv_upload_document").attr("action"),
        cancelImage: "{{ STATIC_URL }}uploadify/uploadify-cancel.png",
        auto: true,
        debug: DEBUG,
        buttonImage: "{{ STATIC_URL }}images/buttonBG.png",
        fileObjName: "document",
		onUploadSuccess: function(file, response){
			data = jQuery.parseJSON(response);
			if (DEBUG) console.log(data);
			if(data.error.length == 0){
				$("ul#srv_document_filePane").append(data.item);
				if (DEBUG) console.log('appending '+data.item);
			}
			else {
				if (DEBUG) console.log(error);
				else for (error in data.error)	alert(error);
			}
		}
	});
	$("input#srv_upload_document_action").hide();
	
	
	$("a[href=#srv_place_document]").live("click", function(e){
		var chosen = this;
		$(chosen).parent().parent().children().removeClass('backgroundHighlight');
		$(chosen).parent().addClass('backgroundHighlight');
		$("#srv_insert_document_title").html($(chosen).children('p').html());
		$("#srv_insert_document_description").html($(chosen).siblings('img').attr('alt'));
		$("#srv_insert_document_pk").val($(chosen).attr('data-id'));
		$("#srv_insert_document_display").html("<img src='"+$(chosen).attr('data-big-thumb')+"' width='"+$(chosen).attr('data-big-thumb-width')+"' height='"+$(chosen).attr('data-big-thumb-height')+"' />");
		e.preventDefault();
		return false;
	});
	$("input#srv_insert_document_action").click(function(e){
		var template, pk;
		pk = parseInt($("#srv_insert_document_pk").val(), 10);
		if(pk > 0){
			template = $("select#srv_insert_document_template").val();
			if(template == 'auto') template = null;
			srv_insert_document_by_pk(pk, template);
		}
		e.preventDefault();
		return false;
	});
	function srv_insert_document_by_pk(pk, template){
		var markup = '<a class="inline-replace document" data-inline-type="document.document" data-inline-id="'+pk+'"';
		if(template){
			markup += ' data-inline-template="'+template+'"';
		}
		markup += '>';
		markup += $("#srv_insert_document_title").html();
		markup += '</a>';
		srv_wysiwyg_insert_html_at_cursor(markup);
	}
});
</script>