{% load thumbnail uni_form_tags %}
<ul id="srv_document_filePane" class="srv_solidBox srv_filePane scroll">
  	{% for document in documents %}
		{% include "panels/add_document.html" %}
	{% endfor %}
</ul>
<div id="" class="srv_solidBox srv_insertOptions scroll">
<h4>Insert a Document</h4>
	<div id="srv_insert_document_display"></div>
	<h5 id="srv_insert_document_title"></h5>
	<p id="srv_insert_document_description"></p>
	<p><select id="#srv_insert_document_template"><option>Auto</option></select></p>
	<input type="hidden" name="srv_insert_document_pk" id="srv_insert_document_pk" value="0">
	<input type="button" class="srv_button insert" id="srv_insert_document_action" value="Place image at Cursor">


<form id="srv_upload_document" method="post" enctype="multipart/form-data" action="{% url upload_document %}">
	{% csrf_token %}
	{{ form|as_uni_form }}
	<input type="submit" class="srv_button insert" id="srv_upload_document_action" value="Upload">
</form>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ajaxupload.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	/*$("form#srv_upload_document input#id_document").uploadify({
        'uploader'  : '{{STATIC_URL}}uploadify/uploadify.swf',
        'script'    : '{% url upload_document %}',
        'multi'		: true,
        'cancelImg' : '{{STATIC_URL}}uploadify/cancel.png',
        'auto'      : true,
        'onInit': function(){
            $("form#srv_upload_document input[type=submit]").hide()
        },
        'onComplete': function(e,id,f,r,d){
            eval("var data="+r);
            if(data.error.length == 0){
				$("ul#srv_document_filePane").append(data.item);
				if (DEBUG) console.log('appending '+data.item);
			}
			else {
				if (DEBUG) console.log(error);
				else for (error in data.error)	alert(error);
			}
        },
        onError: function(event,ID,fileObj,errorObj) {
            console.log(fileObj)
            console.log(errorObj)
        },
        'fileDataName' : 'document'
      });*/
      
      $("form#srv_upload_document").ajaxForm({
      		dataType: 'json',
      		iframe: true,
      		success : function(data){
      			if(data.error.length == 0){
      				$("ul#srv_document_filePane").append(data.item);
      				if (DEBUG) console.log('appending '+data.item)
      			}
      			else {
      				if (DEBUG) console.log(error);
      				else for (error in data.error)	alert(error);
      			}
      		}
      	});
      
	$("a[href=#srv_place_document]").click(function(e){
		var chosen = this
		$(chosen).parent().parent().children().removeClass('backgroundHighlight');
		$(chosen).parent().addClass('backgroundHighlight');
		$("#srv_insert_document_title").html($(chosen).children('p').html());
		$("#srv_insert_document_description").html($(chosen).siblings('img').attr('alt'));
		$("#srv_insert_document_pk").val($(chosen).attr('data-id'));
		$("#srv_insert_document_display").html("<img src='"+$(chosen).attr('data-big-thumb')+"' width='"+$(chosen).attr('data-big-thumb-width')+"' height='"+$(chosen).attr('data-big-thumb-height')+"' />");
		e.preventDefault();
		return false;
	});
	$("input#srv_insert_document_action").click(function(e){
		var template, pk;
		pk = parseInt($("#srv_insert_document_pk").val())
		if(pk > 0){
			template = $("select#srv_insert_document_template").val();
			if(template == 'auto') template = null;
			srv_insert_document_by_pk(pk, template)
		}
		e.preventDefault();
		return false;
	});
	function srv_insert_document_by_pk(pk, template){
		var markup = '<inline type="document.document" id="'+pk+'"';
		if(template){
			markup += ' template="'+template+'"'
		}
		
		text = 'Link to ' + $("li:has(a[href=#srv_place_document][data-id="+pk+"]) p").text();
		
		markup += ' style="display:inline;"';
		markup += ' inserttext="';
		markup += text;
		markup += '"';
		markup += '>';
		markup += text;
		markup += '</inline>';
		srv_wysiwyg_insert_html_at_cursor(markup);
		srv_hide_adminBox("srv_insertMedia");
	}
})
</script>