{% load thumbnail uni_form_tags %}

<ul id="srv_video_filePane" class="srv_solidBox srv_filePane scroll">
  	{% for v in videos %}
		{% include "panels/add_video.html" %}
	{% endfor %}
</ul>
<div id="" class="srv_solidBox srv_insertOptions scroll">
<h4>Insert a Video</h4>
	<div id="srv_insert_video_display"></div>
	<h5 id="srv_insert_video_title"></h5>
	<p id="srv_insert_video_description"></p>
	<p><select id="#srv_insert_video_template"><option>Auto</option></select></p>
	<input type="hidden" name="srv_insert_video_pk" id="srv_insert_video_pk" value="0">
	<input type="button" class="srv_button insert" id="srv_insert_video_action" value="Place image at Cursor">

    <form id="srv_upload_video" method="POST" enctype="multipart/form-data" action="{% url upload_video %}">
    	{% csrf_token %}
    	{{ form|as_uni_form }}
    	<input type="submit" class="srv_button insert" id="srv_upload_image_action" value="Upload">
    </form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	// uploadify
	$("form#srv_upload_video input[type=file]").uploadify({
		swf: "{{ STATIC_URL }}uploadify/uploadify.swf",
        uploader: $("form#srv_upload_video").attr("action"),
        cancelImage: "{{ STATIC_URL }}uploadify/uploadify-cancel.png",
        auto: true,
        buttonImage: "{{ STATIC_URL }}images/buttonBG.png",
        fileObjName: "video",
		onUploadSuccess: function(file, response){
			data = jQuery.parseJSON(response);
			if (DEBUG) console.log(data);
			if(data.error.length == 0){
				$("ul#srv_video_filePane").append(data.item);
				if (DEBUG) console.log('appending '+data.item);
			}
			else {
				if (DEBUG) console.log(error);
				else for (error in data.error)	alert(error);
			}
		}
	});
	$("input#srv_upload_video_action").hide();
	
	
	$("a[href=#srv_place_video]").live("click", function(e){
		var chosen = this;
		$(chosen).parent().parent().children().removeClass('backgroundHighlight');
		$(chosen).parent().addClass('backgroundHighlight');
		$("#srv_insert_video_title").html($(chosen).siblings('p').html());
		$("#srv_insert_video_description").html($(chosen).children('img').attr('alt'));
		$("#srv_insert_video_pk").val($(chosen).attr('data-id'));
		$("#srv_insert_video_display").html("<img src='"+$(chosen).attr('data-big-thumb')+"' width='"+$(chosen).attr('data-big-thumb-width')+"' height='"+$(chosen).attr('data-big-thumb-height')+"' />");
		e.preventDefault();
		return false;
	});
	$("input#srv_insert_video_action").click(function(e){
		var template, pk;
		pk = parseInt($("#srv_insert_video_pk").val(), 10);
		if(pk > 0){
			template = $("select#srv_insert_video_template").val();
			if(template == 'auto') template = null;
			srv_insert_video_by_pk(pk, template);
		}
		e.preventDefault();
		return false;
	});
});
function srv_insert_video_by_pk(pk, template){
	var markup = '<video data-inline-type="video.video" data-inline-id="'+pk+'"';
	if(template){
		markup += ' data-inline-template="'+template+'"';
	}
	markup += '>';
	markup += "Your video will be rendered automatically.";
	markup += '</video>';
	srv_wysiwyg_insert_html_at_cursor(markup);
}
</script>