<html>
    <head>
        <title>{% block site_title %}Some Servee Site{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}servee/css/admin.css" />

        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        <link rel="stylesheet" media="screen" href="{{ STATIC_URL }}css/screen.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}servee/js/frontendadmin.js"></script>
        {% include "wysiwyg/_wysiwyg_of_choice.html" %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header>
            {% block header %}{% endblock %}
        </header>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>