{% load thumbnail %}
{% thumbnail object.still 75x75 as thumb %}
{% thumbnail object.still 60x40 as small_thumb %}
<li>
	<a href="#srv_add_video_gallery" data-id="{{ object.pk }}" data-applabel="{{ type.app_label }}" data-model="{{ type.model }}" data-small-thumb="{{ small_thumb.url }}" data-small-thumb-width="{{ small_thumb.width }}" data-small-thumb-height="{{ small_thumb.height }}">
		<img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ object.description }}" />
	</a>
	<p>{{ object.title }}</p>
</li>